ul.nav {
    white-space: nowrap;
    overflow-x: auto;
}

ul.nav li {
    display: inline-block;
    float: none;
    text-transform: uppercase;
}

ul.nav li .active {
    border-bottom: 5px solid red;
}

body {
    overflow-x:visible;
}

.b-0 {
    border: 0px;
}

.br-0 {
    border-radius: 0px !important;
}

.br-30 {
    border-radius: 30px;
}

.bb-3 {
    border-bottom: 3px solid red;
}

.bg-nav {
    background-color: #273F5B;
}

.bg-header {
    background-color: #2e8dd2;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

.h-50 {
    height: 50px;
}

.h-53 {
    height: 53px;
}

.m-1 {
    margin:1px;
}

.-mb-5 {
    margin-bottom: -5px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-0 {
    margin: 0 !important;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mw-100 {
    min-width: 100%;
}

.p-0 {
    padding: 0px;
}

.p-8 {
    padding: 8px !important;
}

.p-10 {
    padding: 10px;
}

.pl-0 {
    padding-left: 0;
}

.input-xxlarge {
    height: 55px;
    padding: 6px 24px;
    font-size: 23px;
    line-height: 1.3333333;
}


.iconfa {
	font-size: 50px;
    text-align: center;
}

.pricespan {
	font-size: 50px;
	font-weight: 700;
}

.paybutton{

	margin-top: 10px;
}

.table-name{
	display: block;
}

.body-bg {
    background: #E8EDEE;
    height: 100vh;
}

.table-image {
	width: 138px; 
	height: 138px; 
	margin: 5px;
    text-align: center;
    border-radius: 5px;
}

@media screen and (max-width: 420px) {
.table-image {
    width: 80px; 
    height: 80px; 
    margin: 3px;
    text-align: center;
    border-radius: 5px;
}

}

#tablelist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh - 116px);
    overflow-y: auto;
}

.category-image {
	width: 130px; 
	height: 130px; 
    text-align: center;
    padding-top: 30px;
    background: white;
    position: relative;
    margin: 5px;
    border: 2px solid white;
    background-size: cover !important;
    background-position: 50% 50% !important;
    overflow: hidden;
}

.category-image p {
    color: white;
    font-size: 15px;
    background: rgba(2, 7, 15, 0.4);
    position: absolute;
    bottom: 0;
    width: 100%;
    letter-spacing: 0.3px;
    margin-bottom: 0 !important;    
}

@media screen and (max-width: 420px) {
    .category-image {
        width: 80px; 
        height: 80px; 
        margin: 10px;
        text-align: center;
        padding-top: 30px;
        background: white;
        position: relative;
    }
}

#category-box {
    max-height: calc(100vh - 65px);
    overflow-y: auto;
}

#category-box a {
    color: black;
}


/*.product-content {
    position: absolute;
    bottom: 0;
    width: 100%;
}*/

.table-product {
	width: 138px; 
	height: 138px; 
	margin: 5px;
    border: 2px solid white;
    text-align: center;
    background-size: cover !important;
    background-position: 50% 50% !important;
    overflow: hidden;
    background-color: white;
    position: relative;
    border-radius: 5px;
}

.productimage {
	width: 130px; 
	height: 130px; 
	background-color: white;
	margin: 13px;
	border-radius: 25px;
    border: 2px solid #5f7c8a;
}

.product-title {
	color:white;
	display: block;
    font-size: 15px;
    background:rgba(2, 7, 15, 0.4);
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.product-price{
    padding: 2px 4px;
    font-size: 90%;
    color: #ffffff;
    background-color: #333333;
    border-radius: 1px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.home-menu {
	border: 0px red solid !important;
    padding: 10px !important;
}

.row .nav-tabs {
	text-align: center;
}

.table-image label {
	position: relative;
    width: 100%;
    height:100%;
}

.table-image div {
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.product-modal {
	margin: auto;
	top: 18em;
}

.body-back {
	margin: 0 0 0 0px !important;
    background: white;
}

.home-icon {
	font-size: 40px;
    margin-left: -6px !important;
    margin: 6px;
    color:white;
    cursor: pointer;
}

.home-table {
    color: white;
    font-size: 28px;
}

@media screen and (max-width: 476px) {
   .home-table {
    color: white;
    margin: 5px;
    font-weight: 500;
    font-size: 1.2em;
}
}

.home-table-choose {
    color: white;
    font-size: 28px;
}

@media screen and (max-width: 476px) {
   .home-table-choose {
    color: white;
    margin: 5px;
    font-weight: 500;
    font-size: 1.2em;
}
}

.home-floors {
	font-size: 40px;
    margin: 5px;
    cursor: pointer;
    color: white;
}

#categoryicon {
	cursor: pointer;
    font-size: 40px;
    margin: 6px;
    color: white;
    /*margin-left: -3px !important;*/
}

.home-check {
	font-size: 40px;
    margin-left: -6px !important;
    margin: 5px;
    color: white;
    margin-right: -5px !important;
}

@media screen and (max-width: 425px) {

.home-icon {
    font-size: 20px;
    margin-left: -6px !important;
    margin: 6px;
    color:white;
    cursor: pointer;
}

.table-product {
    margin: 0;
    width: 100px; 
    height: 100px;
}

#categoryicon {
    cursor: pointer;
    font-size: 20px;
    margin: 6px;
    color: white;
    /*margin-left: -3px !important;*/
}

.home-check {
    font-size: 20px;
    margin-left: -6px !important;
    margin: 5px;
    color: white;
    margin-right: -5px !important;
}
}

#backCategory {
	cursor: pointer;
    font-size: 40px;
    margin-left: -6px !important;
    margin: 5px;
    color: white;
    display: block;
    float: left;
}

@media screen and (max-width: 425px) {

#backCategory {
    cursor: pointer;
    font-size: 20px;
    margin-left: -6px !important;
    margin: 5px;
    color: white;
    display: block;
    float: left;
}

    }

.back-table {
	font-size: 40px;
    margin-left: -6px !important;
    margin: 5px;
    color: white;
    cursor: pointer;
}

.order-home {
	font-size: 40px;
    margin-left: -6px !important;
    margin: 5px;
    color: white;
    margin-right: -5px !important;
}

.table-scroll {
    max-height: 250px;
    overflow-y: auto;
    width: 100%;
}

.table-scroll-xl {
    max-height: 500px;
    overflow-y: auto;
}

.table-scroll-history {
    max-height: calc(100vh - 234px);
    overflow-y: auto;
    width: 100%;
}


.interim-payment-button {
    float: right;
}

#zonelist {
    border: 0 !important;
    margin-left: 0.5em;
}

#zonelist li label {
    color:white;
}

/*a:hover {
    color: white;
    text-decoration: inherit; 
}*/

.icon-svg-size {
    height: 50px;
}

@media only screen and (max-width : 480px) {
.icon-svg-size {
    height: 40px;
}
}

.nav-span {
    display: table;
    height: 50px;
    overflow: hidden;
}

@media only screen and (max-width : 992px) {
.nav-span {
    display: table;
    overflow: hidden;
    height: 40px;
}
}




.nav-row {
    background-color: #2e8dd2; 
    padding: 0;
}

.user-icon {
    font-size: 40px;
    margin: 6px;
    color:white;
    cursor: pointer;
}

.nav-span-home {
    display: table;
    height: 50px;
    overflow: hidden;
}

#productlist > .tab-content > .active {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
    he
}

.alignment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-order-span {
    display: table;
    overflow: hidden;
    height: 50px;
}

@media screen and (max-width: 425px) {
.nav-order-span {
    display: table;
    overflow: hidden;
}
}

.home-dropdown-left {
    margin-left: -10px;
    margin-top: -1px;
}

.home-dropdown-left li {
    margin-top: 10px;
    margin-bottom: -10px;
}

.extra-product li {
    width: 33.33%;
    display: inline;
    float: left;
    margin-bottom: 0px !important;
}

@media only screen and (max-width : 480px) {
    .extra-product li {
        width: 50%;
        display: inline;
        float: left;
        margin-bottom: 0px !important;
    }
}


.center {
    width: 150px;
    margin: 40px auto;
}

.pr-container > td {
    vertical-align: middle !important;
}


.user-icon:hover {
    color:white;
}

.d-flex {
    display: flex;
}

.disabled-none {
    pointer-events: none;
    opacity: 0.4;
}

.p-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.tab-body {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    margin-top: -10px;
}




.category-image > a {
    color:black;
}

.btn-circle {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


#additionalItems li {
    width: 50% !important; 
    display: table;
    float: left;
    margin-bottom: 0px !important;
}

.row-position {
    position: sticky;
    top: 0;
    z-index: 10;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.wrapper.active #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: white;
    color: #fff;
    transition: all 0.3s;

}

.wrapper.active-left #left-sidebar {
    min-width: 250px;
    max-width: 250px;
    background: white;
    color: #fff;
    transition: all 0.3s;
}

.wrapper #sidebar {
    width: 0;
}

.wrapper #left-sidebar {
    width: 0
}

#content {
    width: 100%;
}

.wrapper.active #content {
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: -250px;
    width: 100%;
}

.wrapper.active-left #content {
    min-height: 100vh;
    transition: all 0.3s;
    margin-right: -250px;
    width: 100%;
}

.wrapper.active #floorid {
    visibility: inherit;
}

#floorid {
    visibility: hidden;
}

.wrapper.active .sidebar-header {
    visibility: inherit;
}

.sidebar-header {
    visibility: hidden;
}

#sidebar-left-menu {
    visibility: hidden;
}

.wrapper.active-left #sidebar-left-menu {
    visibility: inherit;
    text-align: center;
}

#sidebar-left-menu #svg1 {
    width: 25%;
}


.sidebar-header h4 {
    background: #273F5B;
    height: 70px;
    margin-bottom: 0;
    color: white;
    text-align: center;
    line-height: 3;
    font-weight: 400;
}

@media (max-width: 768px) {
   .wrapper #sidebar {
        margin-left: -250px;
    }

    .wrapper #left-sidebar {
        margin-right: -250px;
    }

   .wrapper.active #sidebar {
        margin-left: 0;
    }

    .wrapper.active-left #left-sidebar {
        margin-right: 0;
    }

    .wrapper #content {
        width: 100%;
        margin: auto;
        margin-top: 0;
    }

    .wrapper.active #content {
        margin-left: 0;
    }

    .wrapper.active-left #content {
        margin-right: 0;
    }
}

.sidebar-logo {
    background-color: #273F5B;
    height: 250px;
    padding: 30px;
    margin-left: -10px;
}

#displayUserName {
    color: white;
    margin-top: 15px;
}

.sidebar-left-body {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.sidebar-left-body a {
    display: -webkit-box;
    width: 100%;
    height: 70px;
    padding-top: 18px;
    padding-left: 10px;
}

.sidebar-left-body a:hover {
    color: none !important;
    text-decoration: none;
}

.sidebar-left-body img {
    max-height: 30px;
}

.sidebar-left-body h4 {
    max-height: 30px;
    font-size: x-large;
    color: #273F5B;
    font-weight: 400;
    margin-left: 10px;
}

.sidebar-left-body #sign-out {
    background: #e84b3c;
}

.sidebar-left-body #sign-out h4 {
    color: white;
}

#categorylist li.active a {
    color: white;
}

#categorylist li.active a:after {
    content: none;
}

#categorylist li a {
    color: white;
}


#categorylist li.active p {
    border-bottom: 10px solid red;
    height: 40px;
}

.order-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
}

.order-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#interim-nav li.active {
    border-bottom: 10px solid red;
    height: 50px;
}

#interim-nav li.active a:after {
    content: none;
}

#interim-nav li a {
    font-weight: 600;
}

#interimPayment thead th.active {
    background: white;
    border: 0px !important;
}

#interimPaid thead th.active {
    background: white;
    border: 0px !important;
}

.button-interim-group {
    position: fixed;
    bottom: 0;
}

.product-list-height {
    max-height: calc(100vh - 180px) !important;
}

.product-list {
    display: inline-block;
    overflow-y: auto;
    max-height: calc(100vh - 120px);
    height: 100vh;
    -webkit-overflow-scrolling: touch;
}

.product-footer {
    height: 71px;
    width: 100% !important;
    position: absolute;
    bottom: 0;
    z-index: 1;
    right: 0;
}

.order-price {
    display: block;
    font-size: 30px;
    color: white;
    font-weight: 500;
}

.sidebar-left-body h3 {
    max-height: 30px;
    font-size: x-large;
    color: #273F5B;
    font-weight: 400;
}

#order-complete-tab {
    background:#273F5B;
    height:100vh;
}

#order-complete-tab div {
    position: relative;
    top: 10%
}

#order-complete-tab h4 {
    color: white;
    font-size: 50px;
    font-weight: 400;
}

#order-complete-tab #order-okay {
    max-height: 100px;
    margin-top: 50px;
}

#order-complete-tab h3 {
    font-size: 60px;
    display: table-caption;
    margin-top: 50px;
    font-weight: 400;
    color: white;
    width: 100%;
}

@media only screen and (max-width : 360px) {
    #order-complete-tab #order-okay {
        max-height: 50px;
        margin-top: 20px;
    }

    #order-complete-tab h4 {
        color: white;
        font-size: 30px;
        font-weight: 400;
    }

    #order-complete-tab h3 {
        font-size: 40px;
    }
}

.touch-swipe {
    height: 100vh;
}

#floorid li label {
    width: 100%;
    height: 100%;
}

.operator-input {
    border: 1px solid white !important;
    background: white !important;
    width: 75%;
    height: 100px;
}

.operator-input-block {
    background-color: #E8EDEE;
    height: calc(100vh - 671px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nums a {
    height: 150px;
    font-size: 50px;
}

.nums {
    height: 600px;
}

@media only screen and (max-width : 480px) {
    .nums {
        height: 300px;
    }

    .operator-input-block {
        height: calc(100vh - 371px);
    }

    .nums a {
        height: 50px;
        font-size: 25px;
    }

}

.dp-none {
    display: none;
}

.counter{
    position: absolute;
    top: 3px;
    right: 0px;
    background: #ec222f;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 30px;
}

.notification-title {
    color: white;
    font-size: 28px;
}

.additional-products li {
    width:50%;
}

.floor-scroll {
    max-height: calc(100vh - 70px);
    overflow-y: scroll;
}

.product-text-note {
  text-overflow: ellipsis;
  overflow: hidden;
}

.interim-buttons-div {
    position: relative;
    padding: 15px;
}

/*.remove-max-height {
    max-height: initial !important;
}*/

.product-modal-body {
    position: relative;
    padding: 15px;
    overflow: auto;
}

#tab-notification .deliver {
    width: 50%;
    line-height: 6.8;
}

#tab-notification .account {
    width: 50%;
    line-height: 6.8;
}

#tab-notification .notification-label-account {
    font-size:30px;
}

@media only screen and (max-width : 480px) {
    #tab-notification .deliver {
        width: 100%;
        line-height: 6.8;
    }

    #tab-notification .account {
        width: 100%;
        line-height: 6.8;
    }

    #tab-notification .notification-label-account {
        font-size:12px;
    }
}

#product-list {
    max-height: calc(100vh - 70px);
    overflow-x: auto;
}


@media only screen and (max-width : 480px) {
    #productQuantityModal .modal-title {
        display: none;
    }

    #productQuantityModal .modal-footer label {
        display: none;
    }
}




