body{
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}
.product{
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    float: left;
    background-color: #009dcc;
    color: #ffffff;
    text-align: left;
}
.product_g{
    width: 500px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    float: left;
    color: #ffffff;
    text-align: left;
}
li
{
    margin-top: 5px;
    margin-left: 5px;
}

.location_select .locations p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}
.location_select .locations{
    margin-bottom: 10px;
}

.additions .custom-control-description{
    margin-left: 10px;
    width: 120px;
    margin-top: -3px;

}
.materials .custom-control-description {
    margin-left: 10px;
    width: 120px;
    margin-top: -3px;
}

#header .module-logo{
	margin-left: -30px;
	margin-right: -7px;
}

.location_select{
	height: auto;
	margin-top: 10px;
}

.location_button{
	/*float: right;
	margin-top: -75px;
    */
}

.location_select .openLocation{
	height: 46px;
    /*width: 100px;*/
    background-color: #5cb85c;
    margin-bottom: 1px;
    padding: 8px;
    text-align: center;
}

.location_select .openLocation p{
	font-size: 20px;
	color: white; 
}


.location_select .closeLocation{
    height: 46px; 
	/*width: 100px; */
	background-color: #d9534f;
	margin-bottom: 1px;
    padding: 8px;
    text-align: center;
}

.location_select .closeLocation p{
	font-size: 20px;
	color: white; 
}



#body-wrapper #header{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: auto;
    margin-right: -75px;
    margin-left: 15px;
}
#body-wrapper #header .container{
    margin: inherit;
}
#content{
    top:0;
}
.mobile_basket_open {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.mobile_basket_open button {
    padding: 0.5rem 2rem 0.75rem;
    font-size: 2.2rem;
}
.basket_login_and_sign_button button{
    padding: 0.5rem 2rem 0.75rem;
    font-size: 2.2rem;
}
.basket_login_and_sign_button .btn-login{
    margin-bottom: 60px;
}

.Location_status_open{
	height: 50px;
    width: 100px;
    background-color: #5cb85c;
    margin-bottom: 1px;
    padding: 1px;
    text-align: center;
    color: white;
    border-radius: 15px;

}

.Location_status_close{
	height: 50px;
    width: 100px;
    background-color: #d9534f;
    margin-bottom: 1px;
    padding: 1px;
    text-align: center;
    color: white;
}

.slider_and_user{
	margin-top: 120px; 
	height: 350px;
}

.slider_and_user .col-md-3{
	float: left;
	padding-right: 0px;
    padding-left: 15px;
}

.slider_and_user .col-md-9{
	float: left;
}

.slider_and_user .slider{
	margin-left:10px; 
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }

.star-rating {
    line-height:30px;
    font-size:1.75em;
    cursor: pointer;
    
}
.star-rating .fa-star{
    color: rgb(255, 190, 0); width: 20px;
}

.productQuantity #quantity{
    width: 77%;
}

.quantity_plus{
    background: #00c100;
    width: 50px;
    height: 48px;
    float: right;
    margin-top: -49px;
    color: white;
    border: 0;
}
.quantity_minus{
    background: #d9534f;
    width: 50px;
    height: 48px;
    float: right;
    margin-top: -49px;
    color: white;
    margin-right: 52px;
    border: 0;
}
.editProductAttributes{
    color: azure;
    background-color: #ffaa41;
    border: 0;
    width: 30px;
    height: 30px;
}
    

.deleteProduct{
    color: azure;
    background-color: red;
    border: 0;
    width: 30px;
    height: 30px;
}




@media only screen and (min-width: 992px) {
    .menu-desktop{
        display: block;
    }
    .dropdown-menu-mobile
    {
        display: none;
    }
} 


@media only screen and (max-width: 991px) {

    .menu-desktop{
        display: block;
    }
    .dropdown-menu-mobile
    {
        display: none;
    }

    .mobile_slider_and_user{
        display: none;
    }

    .Location_status_open {
        height: 35px;
        width: 80px;
        background-color: #5cb85c;
        margin-bottom: 1px;
        padding: 5px;
        text-align: center;
        color: white;
    }

    .Location_status_close {
        height: 35px;
        width: 80px;
        background-color: #d9534f;
        margin-bottom: 1px;
        padding: 5px;
        text-align: center;
        color: white;
    }
    .slider_and_user
    {
        display: block;
    }

    .order_cart
    {
        padding: 30px;
    }
    .adress
    {
        padding: 30px;
    }
    /*.container{
        padding-right: 15px;
        padding-left: 15px;
    } */

}

@media only screen and (max-width: 767px) {

    .menu-desktop{
        display: none;
    }
    .dropdown-menu-mobile
    {
        display: block;
    }

    .post.post-wide {
        display: block;
    }
    .slider_and_user {
        margin-top: 30px;
        height: 300px;
    }
    .slider_and_user .col-md-9 {
        display: block;
    }
    .slider_and_user .col-md-3 {
        float: left;
        padding-right: 0px;
        padding-left: 0px;
    }

    .slider_and_user .form-group{
        display: none;
    }
    .mobile_slider_and_user{
        margin-top: -43rem;
    }
    .mobile_slider_and_user{
        display: block;
    }
    #nav-main-mobile{
        margin-top: 23rem;
    }

    .Location_status_open {
        height: 35px;
        width: 70px;
        background-color: #5cb85c;
        margin-bottom: 1px;
        padding: 5px;
        text-align: center;
        color: white;
    }

    .Location_status_close {
        height: 35px;
        width: 70px;
        background-color: #d9534f;
        margin-bottom: 1px;
        padding: 5px;
        text-align: center;
        color: white;
    }

    .mySlides{
        width: 100%;
        height: auto;
    }

    .location_select .locations{
        margin-bottom: 60px;
    }

    .slider_and_user
    {
        display: none;
    }
    .order_cart
    {
        padding: 0px;
    } 
    .adress
    {
        padding: 0px;
        padding-top: 20px;
    }
  /*  .container{
        padding-right: 0px;
        padding-left: 0px;
    }*/
    .dropdown-menu-mobile{
        margin-top: 28px;
    }

}

@media only screen and (max-width: 575px) {

    .menu-desktop{
        display: none;
    }
    .dropdown-menu-mobile
    {
        display: block;
    }

    .mobile_slider_and_user{
        display: block;
    }

    .quantity_minus {
        background: #d9534f;
        width: 50px;
        height: 45px;
        float: right;
        margin-top: -46px;
        color: white;
        margin-right: 52px;
        border: 0;
    }
    .quantity_plus {
        background: #00c100;
        width: 50px;
        height: 45px;
        float: right;
        margin-top: -46px;
        color: white;
        border: 0;
    }
    #productAttributes{
        float: left;
    }
    .mySlides{
        width: 100%;
        height: auto;
    }
    .slider_and_user {
        margin-top: 25px;
        height: 220px;
    }
    .slider_and_user .col-md-9{
        height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .menu-item .col-sm-4 span{
        float: right;
    }
    .slider_and_user
    {
        display: none;
    }
    .order_cart
    {
        padding: 0px;
    }
    .adress
    {
        padding: 0px;
        padding-top: 20px;
    }  
  /*  .container{
        padding-right: 0px;
        padding-left: 0px;
    }*/
    .dropdown-menu-mobile{
        margin-top: 28px;
    }
}

#header-mobile .module-cart i {
    position: relative;
    top: 4px;
    font-size: 2.7rem;
    display: inline-block;
    color: #bbc4c6;
}

#header-mobile .module-logo img {
    height: calc(75px - 25px);
    margin-top: 5px;
}

#panel-mobile .module-logo {
    text-align: center;
    padding: 3rem 2rem;
    display: block;
}

#header .header_module{
    margin-left: -20px;
}
#header .header_basket{
    margin-left: -20px;
}
.header_logo_image{
    height: 70px;
    width: 210px;
    margin-top: 10px;

}
#header-mobile{
    z-index: 900;
}
.form-group input {
    font-family: inherit;
    color: #000000;
    font-size: 1.1rem;
    font-weight: bold;
}
#OpinionsModal input{
    font-family: inherit;
    color: #000000;
    font-size: 1.1rem;
    font-weight: bold;
}

.opinions_message{
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.7rem;
    border: 2px solid #e0e0e0;
    line-height: 1.25;
    color: #000000;
    background-color: rgb(255, 255, 255);
    background-image: none;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 111px;
}
#userEditModal{
    background-color: #ff6508;
    color: #fff;
    border-color: #ff7624;
}


#userOrdersModal .orders .card-title{
    margin-left: 20px;
    font-size: 1.3rem;
    font-weight: 400;
}

#UserOrderDetailsModal .modal-body .order_detail .qty b{
    margin-left: 33px;
}
#UserOrderDetailsModal .modal-body .order_detail .price b{
    margin-left: 33px;
}

#UserOrderDetailsModal .modal-body .order_detail th{
    text-align: center;
}
.adress #newAddress{
    margin-bottom: 10;
}


.menudropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.menudropbtn:hover, .menudropbtn:focus {
    background-color: #2980B9;
}

.dropdown-menu-mobile {
    position: relative;
    /*display: inline-block;*/
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 900;
    width: 100%;
}


.dropdown-menu-mobile a:hover {background-color: #ddd;}

.dropdown-menu-mobile .show {display: block;}

.mobile_slider_and_user .user_name{
    width: auto; 
    height: auto; 
    color: white;
    background-color: #4a2a0b !important;
}
.mobile_slider_and_user .user_name h3{
    margin-bottom: 0rem; 
    font-size: 20px; 
    padding: 30px;
}
.slider_and_user .user_name{
    width: auto; 
    height: auto; 
    color: white;
    background-color: #4a2a0b !important;
}
.slider_and_user .user_name h3{
    margin-bottom: 0rem; 
    font-size: 20px; 
    padding: 30px;
}

.menu-category{
    background-color: white;
}